<!DOCTYPE html>
    <html>
        <head>
            <title>My App - Shopping Cart</title>
        </head>
        <body>

                <div>
                    <div><label>The content of your shopping cart:  </label>
                    <% for (let i=0;i<products.length;i++){%>
                        <div><label>Product’s Name: <%= products[i].name %>  </label>

                        <div><label>Product's Price: <%= products[i].price %> </label></div>
                        <div><label>Product's quantity: <%= products[i].quantity %></label></div>
                       
                    <%}%>
                       
                </div>
        </body>
    </html>