<!DOCTYPE html>
    <html>
        <head>
            <title>My App- Product List</title>
        </head>
        <body>
            <% for(var i=0;i<cartArr.length;i++){ 
                if (cartArr[i][i]>0)
                {%>
                
                <div><label>Product’s Name: <%= cartArr[i]["name"] %>  </label>

                <div><label>Product's Price: <%= cartArr[i]["price"] %> </label></div>
                <div><label>Product's quantity: <%= cartArr[i][i] %> </label></div>
               
                
              <%}
            }%>
        </body>
    </html>
    