body {
    background-color: rgb(224, 224, 247);
  
  }
  
  h1,h2,h3 {
    letter-spacing: 0.25em;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight:bold; 
    color: rgb(23, 10, 206);
    font-style: oblique;
    margin-left: 20px;
  }
  em{
      color: red;
      font-weight: bold;
  }
  img.me{
      border-radius: 50%;
      width: 100px;
      height: 100px;
  }
  a:link{text-decoration:none ;
color: tomato;}
  a:hover{text-decoration:underline ;}
  
  p::first-letter{
      font-size:1.5em;
  }