#header{
    position: relative;
    background-color: rgb(11, 44, 228);
    color: white;
    display: table;
    height: 50px;
    width: 100%;
    text-align: center;
}
#mum
{
    width: 40%;
   
    display: table-cell;
    vertical-align: middle;
}
.proSup{
    width: 10%;
    border-left:1px solid white;
   
    display: table-cell;
    vertical-align: middle;

}
.but{
    width: 40%x;
    
    display: table-cell;
    vertical-align: middle;
    align-items: right ;
    text-align: right;
    
}
.field{
    border-style: none;
 
}
.butto{
    height: 100%;
    margin: 10px;
    
}
#res{
    
    color: green;
    border-color: green;
    
}
#can{
    border-color: orange;
    color: orange;
}
#add{
    border-color: rgb(11, 124, 230);
    color: rgb(11, 124, 231);

}

#footer{
    display: flex;
    position: absolute;
    right: 85px;
 
}
.grid{
    display: grid;
    width: 100%;
   
    grid-template-areas: 
        'L1 R1'
        'L2 R2'
        'L3 R3'
        'L4 R4'
        'L5 R5'
        'L6 R6'
    ;

}
.txt{
    width: 170%;
    margin: 10px;
}
.sel{
    width: 175%;
    margin: 10px;
}
.sig{height: 80%;
margin-right: 10px;}
#L1{grid-area: L1; width: 50%;margin-left: 10px; }
#L2{grid-area: L2; width: 50%; }
#L3{grid-area: L3; width: 50%; margin-left: 10px;}
#L4{grid-area: L4; width: 50%;}
#L5{grid-area: L5; width: 50%;margin-left: 10px;}
#L6{grid-area: L6; width: 50%;}
#R1{grid-area: R1; width: 50%;margin-left: 10px;}
#R2{grid-area: R2; width: 50%;}
#R3{grid-area: R3; width: 50%;margin-left: 10px;}
#R4{grid-area: R4; width: 50%;}
#R5{grid-area: R5; width: 50%;margin-left: 10px;}
#R6{grid-area: R6; width: 50%;}