div{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: blanchedalmond;
    margin:20px;
    display: inline-block;

}

#controls{
    background-color:white;
    width:200px;
    position:absolute;
    bottom: 20px;
    height: 200px;
    border-radius: 0px;
    left:10px    ;
}