body{
    background-image: url('../images/movie/background.png') ;
    font-size: 8px;
    font-family: Verdana, Tahoma,  sans-serif ;
}

#banner{
    background-image: url('../images/movie/bannerbg.png') ;
    height: 50px;
    align-items: center;

}

#imageBan
{
    
    margin-left: 20%;
    margin-right: auto;
}
h1
{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-shadow:3px 3px #999999;
}
#container{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    border:4px solid  gray;
    border-radius: 20px;
    height:890px;
}


#container .inline {
display: inline-block;
width: 47%;
margin-top: 15%;
margin-left: 1%;
margin-right: 1%;
  }
  .quote{
      font-size: 8px;
      font-weight: bold;
      border-radius: 10px;
      padding: 8px;
      border: 2px solid gray;
      display: block;
      overflow: auto;
      background-color: #E8DC9B;
      float:left;
      width:94%
  }
  .reviewer{
      font-style: italic;
      margin-bottom: 20pt;;

  }

  .reviewer img
  {
      margin-right: 5px;
      float:left;
      
  }
  .quote img
  {
      margin-right: 5px;
      float:left;
      
  }
.inlineleft{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 250px;
    background-color: #A2B964;
    font-size: 8px;
       font-family: Arial  sans-serif;
    
    
   }
   .valis{
       position: absolute;
       right: 0px ;
   }
   .footer
   {
      position: absolute;
      bottom: 0px; 
       text-align:  center;
       background-color: #A2B964;
       width: 550px;
       display: inline-block;
   }
   .list{
       list-style-type: none;
   }
   .inlineleft dt
   {
       margin-left:10pt;
       
       font-weight: bold;
       margin-top: 10pt;
   }
   .inlineright{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 550px;
    
   }
#Rotten
{
    background-image: url('../images/movie/rbg.png') ;
    height: 83px;
    color: red;
    font-size: 48pt; 
    font-weight: bold;

}
#footer{
    position:absolute ;
    bottom: 0px;
    left: 0px;
}

